.spinner-ls {
  --spinner-size: 50px;
  --spinner-color: var(--grape_500);
  --spinner-border: 4px;

  width: var(--spinner-size);
  height: var(--spinner-size);
  border-radius: 50%;
  border: var(--spinner-border) solid transparent;
  border-top: var(--spinner-border) solid var(--spinner-color);
  animation: spinner-rotate 1s linear infinite;

  &__body {
    display: none;
  }

  &.spinner-ls_stopped {
    animation: none;
  }
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
